/* Alubum Style Sheet */
table, th, td {
    border-collapse: collapse; 
    border: 1px solid black; 
    text-align:center;
 }

 a {
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
     background-color: yellow;
 }
 td {
     font-style: italic;
     background-color: pink;
 }

